<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Provide this unique code for friends to join!</h4>
            </div>

            <!-- Modal body -->
            <div id="copy" class="modal-body">
                Modal body.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="copy-btn" type="button" class="btn btn-default">COPY CODE</button>
            </div>

        </div>
    </div>
</div>