<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Keep notes for "<span class="modal-subtitle"></span>"</h5>
                <button type=" button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="notes row">
                    {{!-- <div>
                        <button type="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div> --}}
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        {{!-- <label for="note-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="note-title">
                        <label for="note" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="note-message"></textarea> --}}
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                {{!-- <button id="submit-note" style="font-size: 22px;" type="button" class="btn btn-sm btn-outline-primary">Add
                    Note</button> --}}
            </div>

        </div>
    </div>
</div>