<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <img style="width: 100px; height: auto;" src="/images/sound-cloud.png" alt="sound-cloud">
        <h1 class="title"> Mongo Scraper </h1>
        <a class="nav-link disabled" href="/">Home</a>
        <a class="nav-link" href="/saved">Playlists</a>
        <a class="scraping" href="/scrape">
            <button class="btn btn-sm btn-outline-secondary" type="button">Scrape New Playlists!</button>
        </a>
        <a href="/clearall">
            <button class="btn btn-sm btn-outline-secondary" type="button">Clear Playlists!</button>
        </a>
    </form>
    <h4 style="float:right;" class="title2">
        Scrape some SoundCloud trendy shhh...
        <img style="width: 45px; height: auto; margin-bottom: 10px;" src="/images/silence.png" alt="silence">
    </h4>
</nav>

<div class="content">
    <div id="loading" style="justify-content: center;" class="row">
        <img style="width: 100px; height: 100px; margin-top: 15%;" src="/images/loading.gif" alt="loading">
    </div>
</div>

<div class="container">
    <p class="title3">Oh no! Looks like you need to add some new playlists:</p>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href="/scrape">
                <button class="scraping btn btn-outline-primary" type="button">Scrape new playlists</button>
            </a>
        </div>
        <div class="col-3">
            <a href="/saved">
                <button class="btn btn-outline-primary" type="button">Go to saved playlists</button>
            </a>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div style="margin-left: 22px;" class="row scraped">
    {{#each playlist}}
    {{#unless saved}}
    <div style="float: left; margin: 15px;" class="playlist">
        <a class="playlist-link" href="{{playlistLink}}" target="_blank">
            <img class="playlist-image" src="{{imageLink}}" alt="image-link">
            <p class="playlist-title">{{title}}</p>
        </a>
        <button data-id="{{_id}}" style="font-size: 15px; margin-left: 21%;" class="save-playlist btn btn-sm btn-outline-primary"
            type="button">Save
            playlists</button>
    </div>
    {{/unless}}
    {{/each}}
</div>

<footer>
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <img style="width: 35px; height: auto; margin-left: 5px; margin-right: 1px;" src="/images/sound-cloud.png" alt="sound-cloud">
        SoundCloud Mongo Scraper
    </div>
</footer>