<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <img style="width: 100px; height: auto;" src="/images/sound-cloud.png" alt="sound-cloud">
        <h1 class="title"> Mongo Scraper </h1>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link disabled" href="/saved">Playlists</a>
        <button class="btn btn-sm btn-outline-secondary" type="button">Scrape New Playlists!</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Clear Playlists!</button>
        <h4 class="title2">
            Current saved SoundCloud scrapes...
            <img style="width: 45px; height: auto; margin-bottom: 10px;" src="/images/silence.png" alt="silence">
        </h4>
    </form>
</nav>

<div class="content"></div>

<p class="title3">Oh no! Looks like you need to add some new playlists:</p>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <button class="btn btn-outline-primary" type="button">Scrape new playlists</button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-primary" type="button">Go to saved playlists</button>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<footer>
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <img style="width: 35px; height: auto; margin-left: 5px; margin-right: 1px;" src="/images/sound-cloud.png" alt="sound-cloud">
        SoundCloud Mongo Scraper
    </div>
</footer>