html, body {
    background-color: #CEE5F2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x:hidden;
}

.title {
    margin: 0 10px 0 10px;
    color: #CEE5F2;
    font-family: 'Staatliches', cursive;
}

.title2 {
    text-align: right;
    font-weight: 200;
    color: #4788c7;
}

.title3 {
    text-align: center;
    color: #133C55;
    font-family: 'Staatliches', cursive;
    margin-top: 15px;
}

.bg-light {
    background-color: #133C55!important;
}

.nav-link {
    color: #4788c7;
    font-size: 20px;
    font-weight: 200;
}

.nav-link:hover {
    color: #84D2F6;
}

.nav-link.disabled {
    color: #84D2F6;
    pointer-events: none;
    cursor: default;
}

.btn-outline-secondary {
    color: #84D2F6;
    border-color: #84D2F6;
    font-family: 'Staatliches', cursive;
    margin-left: 10px;
}

.btn-outline-secondary:hover {
    color: #133C55;
    background-color: #84D2F6;
}

.btn-outline-primary {
    color: #133C55;
    border-color: #133C55;
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 300;
}

.btn-outline-primary:hover {
    background-color: #133C55;
    color: #4788c7;
}

footer {
  display: block;
  background-size: 100% 200px;
}

.footer-top {
    background-color: #4788c7;
    height: 6px;
}

.footer-bottom {
    background-color: #133C55;
    color: #91E5F6;
    font-size: 20px;
    font-weight: 100;
}

.content {
    height: 550px;
    width: auto;
    background-image: url("./images/audio1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.container {
    flex: 1;
}

.playlist {
    background-color: #91E5F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.playlist-link:hover {
    color: #91E5F6;
    text-decoration: none;
}

.playlist-title {
    color: #133C55;
    font-size: 15px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    width: 13em;
    height: 1.2em;
    overflow: hidden;
    text-overflow:
    ellipsis;
    white-space: nowrap;
}

.playlist-title:hover {
    color: black;
}

.playlist-image:hover {
    opacity: 0.7;
}

.modal-content {
    color: #133C55;
    background-color: #fefefe;
    margin-top: 150px;
}

.modal-backdrop {
    background-color: rgb(19, 60, 85, 0.7);
}

.modal-title {
    font-family: 'Staatliches', cursive;
}

.data-entry {
    display: block;
}

.data-entry:hover {
    color: #4788c7;
}

.data-title {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #133C55;
    font-size: 30px;
    font-weight: 200;
}

.data-title:hover{
    text-decoration: none;
    color: #4788c7;
}

.delete-note {
    border: none;
    color: #133C55;
}

.delete-note:hover {
    color: #E1BC29;
}